* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.row {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 1%; }

.card {
  padding: 20px;
  border: 1px solid #ccc;
  width: 32%;
  margin: 20px 1%;
  position: relative; }

.app {
  background-color: #444444;
  padding: 40px; }

.highcharts-background {
  padding: 20px; }

.stock {
  font-family: "Lato", sans-serif;
  color: silver; }
  .stock__code {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700; }
  .stock__button {
    padding: 6px;
    font-size: 1.2em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: silver;
    font-family: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px; }
    .stock__button:hover, .stock__button:active, .stock__button:focus {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      background: transparent;
      color: white;
      font-family: inherit;
      letter-spacing: inherit;
      text-transform: inherit;
      font-weight: inherit;
      cursor: pointer; }

.spinner {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px); }
  .spinner__wrap {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    height: 60px;
    width: 60px;
    border-radius: 4px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7); }
  .spinner__hide {
    display: none; }
  .spinner__show {
    display: block; }
    .spinner__show::before {
      position: absolute;
      top: -20px;
      left: -20px;
      width: 80px;
      height: 80px;
      z-index: -1;
      background: black;
      border-radius: 20px; }

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  z-index: 3;
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%; }

/*# sourceMappingURL=index.css.map */
