@import 'darkUnicaTheme';

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 0;
}


// visible to screenreader only
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.row {
	display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	max-width: 1200px;
	margin: auto;
  margin-top: 10px;

}

.card {
	padding: 20px;
	border: 1px solid #ccc;
	width: 100%;
	margin: 1%;
	position: relative;

  // &:first-child {
  //   margin-left: 0;
  // }

  // &:last-child {
  //   margin-right: 0;
  // }

  @media (min-width: 499px) {
    width: 48%;
  }

  @media (min-width: 899px) {
    width: 31%;
  }
}

.app {
	background-color: #444444;
	padding: 40px;
  height: 100%;
  min-height: 100vh;
}

.empty {
  position: absolute;
  top: 30%;
  left: 0;
  font-family: "Lato", sans-serif;
  color: silver;
  text-align: center;
  width: 100%;
  padding: 40px;
  line-height: 1.5em;
}


.highcharts-background {
	padding: 20px;
}

.highcharts-axis-labels {
  text-transform: uppercase;
}

.highcharts-axis-title {
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px;
}

.highcharts-title {
  font-family: "Lato", sans-serif;
  color: silver;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  top: 15px;
}

.highcharts-subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1.4em;
  text-transform: none;
}

.highcharts-input-group,
.highcharts-legend-title {
  display: none;
}

.highcharts-range-selector-group {
  width: 100%;
}

.toastr {
  font-family: "Lato", sans-serif !important;
  border-radius: 0 !important;
}

.close-toastr {
  height: 34px !important;
  font-size: 15px !important;
}

.stock {
	font-family: "Lato", sans-serif;
	color: silver;

	&__code {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 700;
	}

	&__button {
		padding: 6px;
		font-size: 1.2em;
		-webkit-appearance: none;
	  appearance: none;
	  border: none;
	  background: transparent;
	  color: silver;
	  font-family: inherit;
	  letter-spacing: inherit;
	  text-transform: inherit;
	  font-weight: inherit;
	  cursor: pointer;
	  position: absolute;
	  top: 0;
	  right: 5px;

	  &:hover, &:active, &:focus {
	    -webkit-appearance: none;
	    appearance: none;
	    border: none;
	    background: transparent;
	    color: white;
	    font-family: inherit;
	    letter-spacing: inherit;
	    text-transform: inherit;
	    font-weight: inherit;
	    cursor: pointer;
		}
	}
}

.add {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__input {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    width: 100%;
    margin: auto;
  }

  &__button {
    display: block;
    width: 100%;
    margin: auto;
    appearance: none;
    -webkit-appearance: none;
    border: 0 transparent;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
    background: darkgreen;
    font-weight: 300;

    &:hover {
      background-color: green;
    }
  }
}




.spinner {
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);

  &__wrap {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    height: 60px;
    width: 60px;
    z-index: 2;
    background: rgba(255,255,255,.7);
  }

  &__hide {
    display: none;
  }

  &__show {
    display: block;

    &::before {
      position: absolute;
      top: -20px;
      left: -20px;
      width: 80px;
      height: 80px;
      z-index: -1;
      background: black;
      border-radius: 20px;
    }
  }

}

@-moz-keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinner-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  z-index: 3;
  -moz-animation: spinner-loader 1500ms infinite linear;
  -webkit-animation: spinner-loader 1500ms infinite linear;
  animation: spinner-loader 1500ms infinite linear;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
  // display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin: 1.5em;
  overflow: hidden;
  text-indent: 100%;
}